---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");

posts.sort(
  (a, b) =>
    new Date(b.data.publishedAt).valueOf() -
    new Date(a.data.publishedAt).valueOf()
);

const desc = "What's going on with Neville Brem's photography journey";
---

<BaseLayout title='Blog' {desc}>
  <h1 class='text-4xl mb-8'>See what I am up to right now</h1>

  <section class='grid md:grid-cols-2 lg:grid-cols-3 gap-6'>
    {
      posts.map((p) => {
        return (
          <a
            href={`/blog/${p.slug}`}
            class='p-6 bg-base-200 border-base-300 border-2 rounded-box flex justify-between flex-col gap-2'
          >
            <h2 class='text-2xl'>{p.data.title}</h2>
            <p>
              published on
              <span class='italic'>
                {p.data.publishedAt.toLocaleString([], {
                  dateStyle: "medium",
                })}
              </span>
            </p>
          </a>
        );
      })
    }
  </section>
</BaseLayout>
