---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title='404 Not Found'>
  <main>
    <h1 class='text-4xl font-bold'>Looks like you got lost...</h1>
    <a class='btn btn-primary text-primary-content' href='/'>Back to home?</a>
  </main>
</BaseLayout>
