---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";

const images = await Astro.glob("@assets/gallery/*.jpg");
const desc = "Gallery of Neville Brem's photographs";
---

<BaseLayout title='Gallery' {desc}>
  <h1 class='text-4xl mb-8'>Some favorites stay on my mind forever</h1>
  <div class='xl:columns-3 lg:columns-2 gap-4'>
    {
      images.map((img) => {
        return (
          <Image
            class='mb-4 rounded-lg'
            src={img.default}
            alt='gallery image'
            quality={20}
            loading='lazy'
          />
        );
      })
    }
  </div>
</BaseLayout>
