---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";

const images = await Astro.glob("@assets/gallery/*.jpg");
---

<BaseLayout title='Gallery'>
  <h1 class='text-4xl mb-8'>Some favorites stay on my mind forever</h1>
  <div class='flex flex-col md:grid md:grid-cols-2 gap-4'>
    {
      images.map((img) => {
        return (
          <Image
            class='my-auto'
            src={img.default}
            alt='gallery image'
            quality='mid'
            loading='lazy'
          />
        );
      })
    }
  </div>
</BaseLayout>
