---
import CldImage from "@components/CldImage.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title='Gallery'>
  <h1 class='text-4xl mb-8'>Some favorites stay on my mind forever</h1>
  <div class='flex gap-8 flex-col'>
    <CldImage src='f9viyzibwnnilev4sa6l' />
    <CldImage src='qjkj4hnnhaicr95z2ltr' />
    <CldImage src='yauowpnqu3qwtyey1hmj' />
    <CldImage src='utmgpfkye1t1rjgetrue' />
    <CldImage src='bgesazz41dzqgsyknve7' />
  </div>
</BaseLayout>
