---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title='Home'>
  <main>
    <div
      id='hero'
      class='rounded-token flex h-[40dvh] w-full flex-col justify-between p-16'
    >
      <div>
        <h1 class='text-5xl font-black'>I love to take pictures</h1>
        <h3 class='text-xl font-bold'>Here are some of them</h3>
      </div>
      <a href='/gallery' class='btn btn-primary mx-auto'>Explore the gallery</a>
    </div>
    <style>
      #hero {
        background-image: url("../assets/hero.jpg");
        background-size: cover;
        background-position: center;
      }
    </style>
  </main>
</BaseLayout>
