---
import BaseLayout from "@layouts/BaseLayout.astro";
import banner from "@assets/hero.jpg";
import { getImage } from "astro:assets";

const bannerConverted = await getImage({ src: banner });
---

<BaseLayout title='Home'>
  <main>
    <div
      style={`background-image: url('${bannerConverted.src}')`}
      class='rounded-lg flex h-[40dvh] w-full flex-col justify-between p-16 bg-cover bg-center'
    >
      <div>
        <h1 class='text-5xl font-black'>I like to take pictures</h1>
        <h3 class='text-xl font-bold'>Here are some of them</h3>
      </div>
      <a href='/gallery' class='btn btn-primary mx-auto'>Explore the gallery</a>
    </div>
  </main>
</BaseLayout>
