@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
	background-image: url('./lib/assets/hero.jpg');
	background-size: cover;
	background-position: center;
}
